@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border: 1px solid #d5dae3;
    padding: 10px;
    background: black;

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background:rgb(4, 4, 4);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: rgb(44, 44, 44);
    color:rgb(234, 228, 217);
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #6dcff6;
    color: black;
}

.operator{
    color: #4dccef;
}
.clear{
 
    color: red;
}
